.jtabulkaJedlo {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    margin: 85px 5%;
  }

.jtabulkadni {
    width: 110px;    
  }

.jvyberzlistkabuttony{
  padding: 10px;
  margin: auto;
}

.jvrch{
    border-top: hidden;
  }
