#prihlasenie{
    display: inline-block;
    width: 20%;
    
    background-color: red;
}

#registracia{
    background-color: green;
}

.pozadie {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

.mojForm {
    & > input, label, button {
        margin: 10px;
    }
}
