#prihlasenie{    
    width: 20%;
    float: right;
    padding: 10px;
    color: rgb(93, 214, 23);  
    font-weight: bold;    
}

#registracia{
    width: 20%;
    padding: 10px;
    color: rgb(247, 50, 16);  
    font-weight: bold;
   
}

.pozadie {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

.mojForm {
    & > input, label {
        margin: 10px;
    }
    button {
        margin: 10px;        
    }
}
