.prihlasenie {
  width: 20%;
  padding: 10px;
  color: black;
  font-weight: bold;
  margin: 0;
  text-align: center;
  position: fixed;
  left: 37%;
  top: 25%;

  input,
  button {
    background-color: rgb(206, 206, 206);
    color: black;
  }
}

.toggle {
  width: 20%;
  padding: 10px;
  color: rgb(247, 50, 16);
  font-weight: bold;
  float: right;
}

.toggle-registracia {
  //display: none;
  // visibility: hidden;
  // opacity: 0;
  //  background-image: url('./Obrazky/listok.png');
}

.toggle-registracia :hover {
  color: pink;
  //display: inline;
  visibility: visible;
}

/*

.js .toggle-registracia {
    overflow: hidden;
    display: none;
    transition: height .2s;
    background: #ccc;
}

.js .toggle-header {
    cursor: pointer;
    -ms-touch-action: manipulation; /
    touch-action: manipulation; 
}

*/

.pozadie {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.mojForm {
  & > input,
  label {
    margin: 10px;
  }
  button {
    margin: 10px;
  }
}
