.jedalennastavenielsitkahlavna {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    margin: 85px 5%;
  }

.jedalennastavenielistkaarea{
    height: 400px;    
    padding: 7px;
    width: 100%;        
    border-radius: 20px;
  }

.buttonyjedalenlistok{    
    padding: 10px;
    margin: auto;
 }
