.tabulkaJedlo {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 85px 32%;
  }
