.nastavenie {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin-right: 35%; 
    margin-top: 85px;     
    font-weight: bold;    
    float: right;
    position:relative;
  }  

  .vnutro{
     margin:20%; 
     width: 600px;    
  }

  .stravnikbuttony{
    width: 600px;
  }

  .pozadiestravnik{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
  }
