.toggle-registracia {
    display: flex;
    flex-direction: column;
    > .form-group {
        margin-bottom: 0 !important;
    }
}

.toggle {
    width: 20%;
    padding: 10px;
    //color: rgb(247, 50, 16);
    font-weight: bold;
    float: right;
    line-height: 1;
    background-color: white;
    
  }

.btnreg{
    margin: auto;
}
  


  /*

.js .toggle-registracia {
    overflow: hidden;
    display: none;
    transition: height .2s;
    background: #ccc;
}

.js .toggle-header {
    cursor: pointer;
    -ms-touch-action: manipulation; 
    touch-action: manipulation; 
}

*/
